.post-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post-title {
    display: inline;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
}

.post-content {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.post-head {
    display: flex;
    align-items: center;
}

.comments {
    margin-top: 25px;
}

.comment {
    margin-bottom: 15px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.comment .comment-body {
    font-size: 16px;
    line-height: 1.5;
}

.comments h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}


.comment .comment-header {
    margin-bottom: 10px;
    font-size: 14px;
}

.comment .comment-header #time-posted {
    color: grey
}

#author-cmnt {
    margin-right: 5px;
}

#upvote-icon-cmnt {
    width: 14px;
    height: 14px;
    padding-bottom: 5px;
    color: #333;
    background: url('../images/grayarrow.gif') no-repeat;
    background-size: 14px 14px;
}

.replies {
    margin-top: 10px;
    margin-left: 40px;
}

#comment-submit {
    height: 28px;
    padding: 0 8px;
    font-size: 16px;
    border: 1px solid #434;
    box-sizing: border-box;
}

#replybtn {
    font-size: 12px;
}

#replybtn:hover {
    text-decoration: underline;
}

/* Media Query CSS */

@media only screen and (max-width: 600px) {

    #commentText,
    #replyText {
        width: 100% !important;
    }
}