.post-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post-title {
    display: inline;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
}

.post-content {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.post-head {
    display: flex;
    align-items: center;
}

.comments {
    margin-top: 25px;
}

.comments h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}

.comment {
    margin-bottom: 20px;
}

.comment .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment .username {
    font-size: 18px;
    font-weight: bold;
}

.comment .comment-body {
    font-size: 16px;
    line-height: 1.5;
}

.replies {
    margin-top: 20px;
}

.reply {
    margin-bottom: 10px;
}

.reply .reply-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.reply .username {
    font-size: 16px;
    font-weight: bold;
}

.reply .reply-body {
    font-size: 14px;
    line-height: 1.5;
}

#comment-submit {
    height: 28px;
    padding: 0 8px;
    font-size: 16px;
    border: 1px solid #434;
    box-sizing: border-box;
}