{% extends 'main.html' %}

{% block content %}
<div class="navbar-section">
    <div id="menu-section">
        <ul class="navbar-menu">
            <li class="menu"><a class="menu-anchor" href="">new</a></li> |
            <li class="menu"><a class="menu-anchor" href="">past</a></li>
        </ul>
    </div>
</div>

<div class="feed">
    {{now}}
    {% for post in posts %}
    <div class="post">
        <div id="post-info">
            <div id="upvote-icon">^</div>
            <a href={{ url_for("post", postid=post.id) }} id="title">{{post.title}}</a>
            <div id="src-url">(hello.com)</div>
        </div>
        <div id="post-data">
            <div id="upvotes-count">{{post.upvotes}} points</div>
            <div id="author">by {{post.author.username}}</div>
            <div id="time-posted">{{ (post.created_at - now)|humanize() }}</div>
            <div id="comments-count">57 comments</div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}