<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the page and Code for CSS Link for respective page -->
    {% block titlecontent %}
    {% endblock %}
    <!-- Code fo Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- Code for CSS Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


</head>

<body>
    <div class="navbar-section">
        <div id="category-section">
            <div id="site-logo">F</div>
            <h2 class="site-name"><a class="menu-anchor" href={{ url_for('index' ) }}>Flyer</a></h2>
            <ul class="navbar-menu">
                <li class="menu"><a class="menu-anchor" href={{ url_for('topic',cat="tech" ) }}>Tech</a></li> |
                <li class="menu"><a class="menu-anchor" href={{ url_for('topic',cat="sports" ) }}>Sports</a></li> |
                <li class="menu"><a class="menu-anchor" href={{ url_for('topic',cat="politics" ) }}>Politics</a></li> |
                <li class="menu"><a class="menu-anchor" href={{ url_for('topic',cat="social" ) }}>Social</a></li> |
                <li class="menu"><a class="menu-anchor" href={{ url_for('topic',cat="science" ) }}>Science</a></li> |
                <li class="menu"><a class="menu-anchor" href={{ url_for('topic',cat="misc" ) }}>Misc</a></li> |
                <li class="menu"><a class="menu-anchor" href={{ url_for('submit' ) }}>submit</a></li>
            </ul>
        </div>
        <div id="auth-section">
            <ul class="navbar-menu">
                {% if session.username %}
                <li class="menu"><a class="menu-anchor" href="#">__{{session.username}}__</a></li>
                {% if karma%}
                <li class="menu" style="text-decoration: none;">({{karma}})</li>
                {% endif %} |
                <li class="menu"><a class="menu-anchor" href={{ url_for('logout' ) }}>logout</a></li>
                {% else %}
                <li class="menu"><a class="menu-anchor" href={{ url_for('register' ) }}>register</a></li>|
                <li class="menu"><a class="menu-anchor" href={{ url_for('login' ) }}>login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>