{% extends 'main.html' %}

{% block titlecontent %}
<title>{{post.title}} | Flyer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

<!-- recursion to show comment and their replies -->
{% macro render_comments(comments) %}
{% for comment in comments %}
<div class="comment">
    <div class="comment-header">
        <div id="comment-data" style="display: flex; flex-direction: row;">
            <a href={{ url_for("cmntupvote", cmntid=comment.id) }} {% if comment.id in upvoted_comments %}
                disabled="disabled" {% endif %} id="upvote-icon-cmnt"></a>
            <div style="margin-left:10px;" id="author-cmnt">{{comment.author.username}} </div>

            {% if comment.author.username == session.username %}
            <a href={{ url_for("deletecmnt", cmntid=comment.id) }} id="unvote">delete</a>
            {% endif %}


            {% if comment.id in upvoted_comments %}
            <a href={{ url_for("cmntunvote", cmntid=comment.id) }} id="unvote">unvote</a>
            {% endif %}


            <div id="time-posted" style="margin-left:10px;">{{ (now - comment.created_at)|humanize() }}</div>
        </div>
    </div>
    <div class="comment-body">{{comment.text}}</div>
    <button data-cmnt={{comment.id}} data-post={{post.id}} {% if not session.username %} disabled {% endif %}
        class="replybtn" onclick="showReplyFrom(this)">reply</button>
    <form onsubmit="submitReplyForm(this)" style="display:none" method="post" class="replyForm"
        action="javascript:void(0);">
        <p id="postId" hidden>{{post.id}}</p>
        <p id="commentId" hidden>{{comment.id}}</p>
        <textarea name="cmnt" id="replyText" rows="6" cols="60"></textarea>
        <button id="reply" type="submit">submit</button>
    </form>
    {% if comment.replies %}
    <div class="replies">
        {{ render_comments(comment.replies) }}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endmacro %}

{% block content %}
<div class="post-details">
    <div class="post-head">
        <a href={{ url_for("like", postid=post.id) }} {% if upvoted %} disabled="disabled" {% endif %}
            id="upvote-icon"></a>
        <h1 class="post-title">{{post.title}}</h1>
    </div>
    <div class="post-content">{{post.content}}</div>
    <div id="post-data">
        <div id="upvotes-count">{{post.upvotes|length}} points</div>
        <div id="author">by {{post.author.username}}</div>
        <div id="time-posted">{{ (now - post.created_at)|humanize() }}</div>
        <a href={{ url_for("post", postid=post.id) }} id="comments-count">{{post.comments|length}} comments</a>
    </div>
    <br />
    <form action={{ url_for("comment", postid=post.id) }} id="commentForm" method="post">
        <p id="postId" hidden>{{post.id}}</p>
        <textarea id="commentText" name="text" rows="8" cols="80" wrap="virtual"></textarea><br><br>
        <input type="submit" id="comment-submit" {% if not session.username %} disabled {% endif %} value="add comment">
        {% if not session.username %}<p style="display: inline; color: grey;">Need to login first</p>{% endif %}
    </form>

    <div class="comments">
        <h2>Comments</h2>
        {{ render_comments(comments) }}


        <!-- <div class="comment">
            <div class="comment-header">
                <div id="comment-data" style="display: flex; flex-direction: row;">
                    <a href="" id="upvote-icon-cmnt">^</a>
                    <div style="margin-left:10px;" id="author-cmnt">Username </div>
                    <div id="time-posted" style="margin-left:10px;">{{ Time}}</div>
                </div>
            </div>
            <div class="comment-body">Comment body goes here</div>
            <div class="replies">
                <div class="reply">
                    <div class="reply-header">
                        <span class="username">Username</span>
                    </div>
                    <div class="reply-body">Reply body goes here</div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<script src="{{ url_for('static', filename='js/post.js') }}"></script>

{% endblock %}