{% extends 'main.html' %}

{% block titlecontent %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

{% block content %}
<div class="post-details">
    <div class="post-head">
        <a href={{ url_for("like", postid=post.id) }} {% if upvoted %} disabled="disabled" {% endif %}
            id="upvote-icon"></a>
        <h1 class="post-title">{{post.title}}</h1>
    </div>
    <div class="post-content">{{post.content}}</div>
    <div id="post-data">
        <div id="upvotes-count">{{post.upvotes|length}} points</div>
        <div id="author">by {{post.author.username}}</div>
        <div id="time-posted">{{ (now - post.created_at)|humanize() }}</div>
        <a href={{ url_for("post", postid=post.id) }} id="comments-count">{{post.comments|length}} comments</a>
    </div>
    <br />
    <form action={{ url_for("comment", postid=post.id) }} method="post">
        <textarea name="text" rows="8" cols="80" wrap="virtual"></textarea><br><br>
        <input type="submit" id="comment-submit" value="add comment">
    </form>

    <div class="comments">
        <h2>Comments</h2>
        {% for comment in comments %}
        <div class="comment">
            <div class="comment-header">
                <div id="comment-data" style="display: flex; flex-direction: row;">
                    <a href="" id="upvote-icon-cmnt"></a>
                    <div style="margin-left:10px;" id="author-cmnt">{{comment.author.username}} </div>
                    <div id="time-posted" style="margin-left:10px;">{{ (now - comment.created_at)|humanize() }}</div>
                </div>
            </div>
            <div class="comment-body">{{comment.text}}</div>
            <button data-cmnt={{comment.id}} data-post={{post.id}} id="replybtn">reply</button>
            <div class="replies-1">
                {% for rep1 in comment.replies %}
                <div class="reply">
                    <div class="reply-header">
                        <span class="reply-author">{{rep1.author.username}}</span>
                        <span class="reply-date">{{ (now - rep1.created_at)|humanize() }}</span>
                    </div>
                    <div class="reply-body">
                        <p>{{rep1.text}}</p>
                    </div>
                    <button data-cmnt={{rep1.id}} data-post={{post.id}} id="replybtn1">reply</button>
                    <div class="replies-2">
                        {% for rep2 in rep1.replies %}
                        <div class="reply">
                            <div class="reply-header">
                                <span class="reply-author">{{rep2.author.username}}</span>
                                <span class="reply-date">{{ (now - rep2.created_at)|humanize() }}</span>
                            </div>
                            <div class="reply-body">
                                <p>{{rep2.text}}</p>
                            </div>
                            <button data-cmnt={{comment.id}} data-post={{post.id}} id="replybtn2">reply</button>

                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <!-- <div class="comment">
            <div class="comment-header">
                <div id="comment-data" style="display: flex; flex-direction: row;">
                    <a href="" id="upvote-icon-cmnt">^</a>
                    <div style="margin-left:10px;" id="author-cmnt">Username </div>
                    <div id="time-posted" style="margin-left:10px;">{{ Time}}</div>
                </div>
            </div>
            <div class="comment-body">Comment body goes here</div>
            <div class="replies">
                <div class="reply">
                    <div class="reply-header">
                        <span class="username">Username</span>
                    </div>
                    <div class="reply-body">Reply body goes here</div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<script src="{{ url_for('static', filename='js/post.js') }}"></script>

{% endblock %}