{% extends 'main.html' %}

{% block titlecontent %}
<title>Submit | Flyer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/submit.css') }}">
{% endblock %}

{% block content %}


<form class="post-form" method="post">
    <h2>Create a Post</h2>
    <label>Title : </label>
    <input type="text" name="title"><br><br>

    <label>Content :</label>
    <textarea rows="7" cols="25" name="content"></textarea><br><br>

    <button type="submit">Submit</button>
</form>

<script>
    // const commnetText = document.getElementById
</script>

{% endblock %}