{% extends 'main.html' %}

{% block titlecontent %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/submit.css') }}">
{% endblock %}

{% block content %}
<h2>This is SUBMIT PAGE</h2>

<form class="post-form" method="post">
    <h2>Create a Post</h2>
    <label>Title : </label>
    <input type="text" name="title"><br><br>

    <label>Content :</label>
    <textarea rows="7" cols="25" name="content"></textarea><br><br>

    <button type="submit">Submit</button>
</form>

{% endblock %}