{% extends 'main.html' %}

{% block content %}

<div class="navbar-section">
    <div id="menu-section">
        <ul class="navbar-menu">
            <li class="menu"><a class="menu-anchor" href="">new</a></li> |
            <li class="menu"><a class="menu-anchor" href="">past</a></li>
        </ul>
    </div>
</div>

<div class="feed">
    <div class="post">
        <div id="post-info">
            <div id="upvote-icon">^</div>
            <a href="" id="title">This is title of the first post</a>
            <div id="src-url">(hello.com)</div>
        </div>
        <div id="post-data">
            <div id="upvotes-count">549 points</div>
            <div id="author">by adansmith</div>
            <div id="time-posted">10 hours ago</div>
            <div id="comments-count">57 comments</div>
        </div>
    </div>
    <div class="post">
        <div id="post-info">
            <div id="upvote-icon">^</div>
            <a href="" id="title">This is title of the second post</a>
            <div id="src-url">(hello.com)</div>
        </div>
        <div id="post-data">
            <div id="upvotes-count">129 points</div>
            <div id="author">by elomrust</div>
            <div id="time-posted">5 hours ago</div>
            <div id="comments-count">31 comments</div>
        </div>
    </div>
</div>

{% endblock %}