{% extends 'main.html' %}

{% block titlecontent %}
<title>{{category}} | Flyer</title>
{% endblock %}

{% block content %}
<div class="navbar-section">
    <div id="menu-section">
        <ul class="navbar-menu">
            <li class="menu"><a class="menu-anchor" href={{ url_for('topicnew',cat=cat ) }}>new</a></li> |
            <li class="menu"><a class="menu-anchor" href="">past</a></li>
        </ul>
    </div>
</div>

<div class="feed">
    {% if posts|length == 0 %}
    <center>
        <h1>No Posts :(</h1>
    </center>
    {% endif %}
    {% for post in posts %}
    <div class="post">
        <div id="post-info">
            <a href={{ url_for("like", postid=post.id) }} {% if post.id in upvoted_posts %} disabled="disabled" {% endif
                %} id="upvote-icon"></a>
            <a href={{ url_for("post", postid=post.id) }} id="title">{{post.title}}</a>
            <div id="src-url">(hello.com)</div>
        </div>
        <div id="post-data">
            <div id="upvotes-count">{{post.upvotes|length}} points</div>
            <div id="author">by {{post.author.username}}</div>
            <div id="time-posted">{{ (now - post.created_at)|humanize() }}</div>
            <a href={{ url_for("post", postid=post.id) }} id="comments-count">{{post.comments|length}} comments</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}